@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Questrial&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #fff;
}

.header_container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/header-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.logo{
    width: 190px;
    height: 50px;
    cursor: pointer;
}
/*

option using button in html with a div container

nav button.eng {
    border: 0;
    outline: 0;
    color: white;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;

}

nav .red {
    border: 0;
    outline: 0;
    color: white;
    padding: 10px 20px;
    background-color: red;
    border: 1px solid red;
}*/


nav select{
    border: 0;
    outline: 0;
    color: white;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 7px;
    text-align: center;

}

nav select > option{
    color: black;
}

option > img{
    color: white;
}

nav button{
    border: 0;
    outline: 0;
    color: white;
    padding: 10px 20px;
    padding-left: 10px;
    background-color: red;
    border: 1px solid red;
    border-radius: 7px;
    margin-left: 20px;
}


.header_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}


.header_content h1{

    font-size: 60px;
    line-height: 70px;
    font-weight: bolder;

}

.header_content h3{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header_content p{
    margin-bottom: 20px;
}

.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.email input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    padding: 15px 30px;
    background-color: rgba(34, 34, 34, 0.605);
    color: #ffffff;
    border-radius: 5px;
    border: 0;
}

.email input:hover{
    border: 3px solid white;
}

.email button{
    border: 0;
    outline: 0;
    margin-right: 20px;
    margin-left: 8px;
    padding: 15px 30px;
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}


.email button:hover{
    background-color: rgb(172, 26, 26);
}

